*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MyFont", sans-serif;
    scroll-behavior: smooth;
    box-sizing:border-box
}

@font-face{
    font-family: "MyFont";
    src: url("Pixeled.ttf") format("truetype");
}

#board{
    background-color: green;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 10px;
}

#quiz-container button {
    background-color: grey;
    color: white;
    width: 500px;
    border: none;
    border-radius: 5px;
    font-size: 35px;
    padding: 10px;
    position: fixed;
}

#quiz-container button:hover {
    background-color: lightgray;
}

.emoji-association-title{
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 50px;
}

.emoji-association-page{
    background: radial-gradient(circle,#FFE6E6,#FFB8B8,#FF8A8A,#FF5C5C,#FF2E2E,#FF0000,#D10000,#A30000,#750000,#470000,#1A0000 95%);
}

#option0{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#option1{
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#option2{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#option3{
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#next-question{
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#image {
    width: 580px;
    margin-bottom: 20px;
    position: fixed;
    top: 90;
    left: 50%;
    transform: translate(-50%);
    height: 580px;
}

.backArrow{
    font-size: 190px;
    color: #fff;
    position: fixed;
    top: -275;
    left: 100;
    transition: ease-in-out .5s;
}

.backArrow:hover{
    background-image: url(sculk\ minecraft\ wallpaper.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width: 1440px){
    .backArrow{
        font-size: 90px;
        top: -125;
        left: 10;
    }

    #quiz-container button {
        width: 280px;
        font-size: 16px;
    }

    .emoji-association-title{
        font-size: 30px
    }

    #image{
        width: 280px;
        top: 90;
        height: 250px;
    }
}

@media (max-width: 768px){
    .emoji-association-page{
        height: 1000px;
    }

    .backArrow{
        position: absolute;
    }

    .emoji-association-title{
        font-size: 17px;
        position: absolute;
    }

    #quiz-container button{
        position: absolute;
    }

    .title{
        left: 50%;
        transform: translate(-50%);
    }

    #quiz-container {
        position: absolute;
        inset: 0; 
    }

    #image{
        width: 200px;
        height: 200px;
        top: 150px;
        position: absolute;
    }

    #option0{
        top: 65%;
        position: absolute;
    }
    
    #option1{
        top: 80%;
        position: absolute;
    }

    #option2{
        top: 95%;
        position: absolute;
    }

    #option3{
        top: 110%;
        position: absolute;
    }

    #next-question{
        top: 125%;
        position: absolute;
    }
}
