*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MyFont", sans-serif;
    scroll-behavior: smooth;
    box-sizing:border-box
}

@font-face{
    font-family: "MyFont";
    src: url("Pixeled.ttf") format("truetype");
}

.andy-lore-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3c0404;
    text-shadow: 2px 2px black;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.andy-lore-page::-webkit-scrollbar {
    display: none;
}

.headingbox2-lore-andy{
    position: absolute;
    border-radius: 6px;
    background-image: url(minecraft\ wood\ texture.jpg);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10;
    left: calc(220px + ((100vw - 220px) / 2));
    transform: translate(-50%);
    padding-left: 5%;
    padding-right: 5%;
    height: 100px
}

.heading{
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px black;
}

.character-list-andy{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #a80000;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 220px;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.character-list-andy li{
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    font-size: clamp(14px, 1.2vw, 20px);
}

.character-list-andy li:last-child {
    border-bottom: none;
}

.character-list-andy li a{
    color: white;
    text-decoration: none;
    transition: ease-in-out .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
    inset: 0;
    position: absolute;
}


.character-list-andy li a:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0), 0 0 25px rgb(255, 0, 0), 0 0 50px rgb(255, 0, 0), 0 0 100px rgb(255, 0, 0), 0 0 200px rgb(255, 0, 0);
}

.andy-achievement-lore{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 12%;
    height: 90px
}

.andy-lore{
    background-image: url(minecraft\ wood\ texture.jpg);
    color: #ffffff;
    display: block;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 895px;
    left: calc(220px + ((100vw - 220px) / 2));
    top: 200px;
    transform: translate(-50%);
    font-size: 25px;
    z-index: -1;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 6px;
    cursor: context-menu;
}

.andy-credits{
    background-image: url(minecraft\ wood\ texture.jpg);
    color: #ffffff;
    display: block;
    position: fixed;
    justify-content: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: .5%;
    border-radius: 6px;
    text-shadow: 2px 2px black;
    width: 400px;
    font-size: 20px;
    top: calc(100px + ((100vh - 100px) / 2));
    transform: translate(0%, -50%);
    right: 50px;
    cursor: context-menu;
}

.links-andy{
    color: #ffffff;
    text-shadow: 2px 2px black;
    text-decoration: none;
}

.para {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.4;
    white-space: pre-wrap;
    text-decoration: none;
}

.slideshow-andy{
    position: fixed;
    margin: auto;
    left: 250px;
    top: calc(90px + ((100vh - 90px) / 2));
    transform: translate(0%, -50%);
    width: 500px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-family: "MyFont", sans-serif;
}

.next {
  right: 50px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot-andy {
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin: 0 2px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots-andy{
    position: fixed;
    left: 375px;
    top: 1100px;
}

.active-andy, .dot-andy:hover {
  background-color: #a80000;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.none-list{
    list-style: none;
}

#myBtn {
  display: none;
  position: fixed; 
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(255, 0, 0);
  color: white;
  cursor: pointer; 
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

@media (max-width: 1440px){
    .andy-lore{
        font-size: 16px;
        width: 500px;
        left: calc(120px + ((100vw - 120px) / 2));
        transform: translate(-50%);
    }

    .headingbox2-lore-andy{
        left: calc(120px + ((100vw - 120px) / 2));
        transform: translate(-50%);
    }

    .andy-credits{
        font-size: 12px;
        width: 300px;
        right: 25px;
    }

    .andy-credits ul{
        padding: 0;
        margin: 0 auto;
        list-style-position: outside;
    }

    .slideshow-andy{
        width: 250px;
        left: 200px;
    }

    .next{
        right: 0;
    }

    .numbertext{
        font-size: 12px;
    }

    .character-list-andy{
        width: 120px;
    }

    .character-list-andy li{
        font-size: 12px;
    }

    .andy-achievement-lore{
        height: 55px;
        top: 35px;
    }

    .dots-andy{
        top: 575px;
        left: 235px;
    }

    .dot-andy{
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 768px){
    .andy-lore-page{
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        height: 1600px;
    }

    .character-list-andy{
        position: fixed;
        top: 0;
        width: 75px;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .character-list-andy li{
        font-size: 8px;
    }

    .headingbox2-lore-andy{
        width: 250px;
        font-size: 9px;
        height: 125px;
        left: calc(75px + ((100vw - 75px)/2));
        position: absolute;
    } 

    .andy-achievement-lore{
        top: 155px;
        left: calc(75px + ((100vw - 75px)/2));
        transform: translate(-50%);
        width: 220px;
        position: absolute;
    }

    .slideshow-andy{
        left: calc(75px + ((100vw - 75px) / 2));
        transform: translate(-50%);
        top: 250px;
        position: absolute;
    }

    .dots-andy{
        top: 575px;
        left: calc(75px + ((100vw - 75px) / 2));
        transform: translate(-50%);
        position: absolute;
    }

    .andy-lore{
        width: 250px;
        left: calc(75px + ((100vw - 75px) / 2));
        transform: translate(-50%);
        top: 1100px
    }

    .andy-credits{
        top: 650px;
        left: calc(75px + ((100vw - 75px) / 2));
        transform: translate(-50%);
        position: absolute;
        width: 250px;
    }

    #mybtn{
        visibility: visible;
    }

    .dot-andy{
        width: 8.5px;
        height: 8.5px;
    }
}
