*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MyFont", sans-serif;
    scroll-behavior: smooth;
    box-sizing:border-box
}

@font-face{
    font-family: "MyFont";
    src: url("Pixeled.ttf") format("truetype");
}

.headingbox2-fire{
    border-radius: 6px;
    background: rgb(172, 72, 29);
    position: fixed;
    top: 10px;
    left: calc(220px + ((100vw - 220px) / 2));
    transform: translateX(-50%);
    padding: 10px 5%;
    cursor: context-menu;
    font-size: 30px;
    height: 200px;
    width: 925px;
}

.heading-fire{
    text-align: center;
    color: #dd8e5c;
    text-shadow: 2px 2px black;
}

.fire-name{
    color: #dd8e5c;
    background: rgb(172, 72, 29);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 17.5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 6px;
    cursor: context-menu;
    width: 250px;
    font-size: 30px;
}

.fire-achievement{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 3.5%;
    left: 12%;
    width: 425px;
}

.fire-skin{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 400px;
    height: 600px;
}

.fire-key-facts{
    display: block; 
    flex: 2 1 150px;
    color: #dd8e5c;
}

.fire-main{
    background: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 475px;
}

.fire-facts{
    position: fixed;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px; 
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 6px;
    text-shadow: 2px 2px black;
    cursor: context-menu;
    background: rgb(172, 72, 29);
    width: 900px;
    justify-content: space-evenly;
    height: 1100px;
    overflow-y: auto;
    top: calc(210px + ((100vh - 210px) / 2));
    left: calc(220px + ((100vw - 220px) / 2));
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.fire-facts::-webkit-scrollbar {
    width: 10px;
}

.fire-facts::-webkit-scrollbar-track {
    background: rgb(172, 72, 29); 
}

.fire-facts::-webkit-scrollbar-thumb {
    background: rgb(172, 72, 29);        
    border-radius: 6px;
}

.fire-facts::-webkit-scrollbar-thumb:hover {
    background: rgb(172, 72, 29);
}

.fire-facts ul {
    padding: 0;
    margin: 0;
}

.fire-facts p {
    line-height: 1.4;
}

.fire{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #dd8e5c;
    text-shadow: 2px 2px black;
    margin: 0;
}

.character-list-fire{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #714021;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: clamp(120px, 18vw, 220px);
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.character-list-fire li{
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    font-size: clamp(14px, 1.2vw, 20px);
}

.character-list-fire li:last-child {
    border-bottom: none;
}

.character-list-fire li a{
    color: white;
    text-decoration: none;
    transition: ease-in-out .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
    inset: 0;
    position: absolute;
}


.character-list-fire li a:hover{
    background-color: rgb(243, 161, 46);
    box-shadow: 0 0 5px rgb(243, 161, 46), 0 0 25px rgb(243, 161, 46), 0 0 50px rgb(243, 161, 46), 0 0 100px rgb(243, 161, 46), 0 0 200px rgb(243, 161, 46);
}

.fire-other{
    color: #dd8e5c;
    display: block; 
    flex: 1 1 250px;
}

.fire-fox{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 90px;
    right: 75px;
    height: 300px;
}

#fire-button{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 300px;
    right: 100px;
    background: rgb(172, 72, 29);
    color: #dd8e5c;
    text-shadow: 2px 2px black;
    cursor: pointer;
    width: 250px;
    font-size: 25px;
}

.credits-fire{
    color: #dd8e5c;
    display: block; 
    flex: 1 1 150px;
}

.links-fire{
    color: #dd8e5c;
    text-shadow: 2px 2px black;
    text-decoration: none;
}

.chest{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 25px;
    right: 100px;
    height: 250px;
}

.none-list{
    list-style: none;
}

#myBtn {
  display: none;
  position: fixed; 
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(191, 127, 67);
  color: white;
  cursor: pointer; 
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  visibility: hidden;
}

#myBtn:hover {
  background-color: #555;
}

@media (max-width: 1440px){
    .character-list-fire{
        width: 120px;
    }

    .character-list-fire li{
        font-size: 12px;
    }

    .fire-achievement{
        width: 220px;
        left: 13%;
    }

    .fire-facts{
        width: 600px;
        font-size: 12px;
        height: 500px;
        top: calc(110px + ((100vh - 110px) / 2));
        left: calc(120px + ((100vw - 120px) / 2));
    }

    .headingbox2-fire{
        width: 500px;
        font-size: 15px;
        height: 100px;
        left: calc(120px + ((100vw - 120px) / 2));
        transform: translate(-50%);
    }

    .fire-skin{
        height: 400px;
        top: 200px;
    }

    .fire-name{
        width: 200px;
        font-size: 15px;
    }

    .fire-main{
        left: 300px;
    }

    .chest{
        height: 150px;
    }

    #fire-button{
        width: 150px;
        font-size: 14px;
        bottom: 200px;
    }

    .fire-fox{
        right: 100px;
        left: auto;
        height: 150px;
        top: 100px;
    }
}

@media (max-width: 768px){
    .fire{
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        height: 1600px;
    }

    .character-list-fire{
        position: fixed;
        top: 0;
        width: 75px;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .character-list-fire li{
        font-size: 8px;
    }

    .fire-facts{
        width: 275px;
        left: calc(75px + ((100vw - 75px)/2));
        height: 500px;
        align-items: center;
        justify-content: center;
        padding-left: 2.5%;
        top: 900px;
        position: absolute;
        overflow-y: hidden;
    }

    .fire-facts ul{
        padding: 0;
        margin: 0 auto;
        list-style: none;
    }

    .fire-facts li{
        font-size: 9px;
    }

    .headingbox2-fire{
        width: 250px;
        font-size: 9px;
        height: 125px;
        left: calc(75px + ((100vw - 75px)/2));
        position: absolute;
    } 

    .fire-achievement{
        top: 155px;
        left: calc(75px + ((100vw - 75px)/2));
        transform: translate(-50%);
        width: 300px;
        position: absolute;
    }
    
    .fire-main{
        position: absolute;
        top: 250px;
        left: calc(75px + ((100vw - 75px) / 2));
        transform: translateX(-50%);
        flex-direction: column;
    }   

    .fire-name{
        position: static;
    }

    .fire-skin{
        position: static;
        height: 300px;
    }

    .fire-fox{
        visibility: hidden;
    }

    #fire-button{
        left: calc(75px + ((100vw - 75px) / 2));
        transform: translateX(-50%);
        position: absolute;
        top: 1250px;
        height: 50px;
        width: 175px;
        font-size: 15px;
    }

    .chest{
        left: calc(75px + ((100vw - 75px) / 2));
        transform: translateX(-50%);
        position: absolute;
        top: 1350px;
        width: 200px;
        height: 200px;
    }

    #mybtn{
        visibility: visible;
    }
}